<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>BiblioTech</title>
    <link href="https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;600;700&display=swap" rel="stylesheet">
    
    <!-- Css of page -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

    <!-- NAVBAR -->
    <header class="navbar">
        <div class="logo">
            <img th:src="@{/imgs/logoCoruja.png}" alt="Logo da Bibliotech">
        </div>

        <nav>
            <a href="#inicio">Início</a>
            <a href="#sobre">Sobre</a>
            <a href="#funcionalidades">Funcionalidades</a>
        </nav>

        <a th:href="@{/login}" class="login-btn" style="text-decoration: none; display: inline-block; text-align: center;">Login</a>
    </header>

    <!-- inicio -->
    <section id="inicio" class="inicio">

        <div class="inicio-text">
            <h1>
                Gerencie Livros, Autores e Empréstimos
                de Forma Simples e Rápida
            </h1>

            <p>
                Sistema desenvolvido para bibliotecas comunitárias e
                pequenas livrarias, com gerenciamento completo de
                acervo e usuários.
            </p>

            <a th:href="@{/login}" class="cta-btn" style="text-decoration: none; display: inline-block; text-align: center;">Comece Agora</a>
        </div>

        <div class="inicio-design">
            <img th:src="@{/imgs/CirculoVerde.png}">
            <img th:src="@{/imgs/AbstratoVerde.png}">
            <img th:src="@{/imgs/AbstratoAmarelo.png}">
        </div>

    </section>

    <!-- sobre -->
    <section id="sobre" class="sobre">

        <div class="sobre-text">
            <h1>
                Sobre o BiblioTech
            </h1>

            <p>
                O BiblioTech foi desenvolvido como
                projeto acadêmico com foco na criação
                de um motor próprio de banco de dados,
                utilizando persistência em arquivos
                binários e estruturas avançadas de
                indexação.
            </p>

        </div>

        <div class="sobre-design">
            <img th:src="@{/imgs/CirculoVerde.png}" class="img1-sobre">
            <img th:src="@{/imgs/Celular.png}"class="img2-sobre">
            <img th:src="@{/imgs/Computador.png}" class="img3-sobre">
        </div>

    </section>

    <!-- funcionalidades -->
    <section id="funcionalidades" class="funcionalidades">

        <div class="func-header">
            <img th:src="@{/imgs/CorujaF.png}" alt="Coruja" class="func-coruja">
            <h1>Funcionalidades</h1>
        </div>

        <div class="func-cards">

            <div class="func-categoria">
                <div class="func-tag">Gestão de Livros</div>
                <div class="func-card">
                    <p>| Cadastro de título, preço, data</p>
                    <p>| Gêneros</p>
                    <p>| Listagem ordenada</p>
                </div>
            </div>

            <div class="func-categoria">
                <div class="func-tag">Gestão de Autores</div>
                <div class="func-card">
                    <p>| Relacionamento 1:N com livros</p>
                    <p>| Cadastro Completo</p>
                </div>
            </div>

            <div class="func-categoria">
                <div class="func-tag">Gestão de Usuários</div>
                <div class="func-card">
                    <p>| Controle de Leitores</p>
                    <p>| Histórico de Empréstimos</p>
                </div>
            </div>

            <div class="func-categoria">
                <div class="func-tag">Controle de Empréstimos</div>
                <div class="func-card">
                    <p>| Registro de retirada e devolução</p>
                    <p>| Controle de multas</p>
                </div>
            </div>

        </div>

        <div class="func-circulo"></div>

    </section>

    <script th:src="@{/js/script.js}"></script>
</body>

</html>