<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>BiblioTech - Login</title>
    <link rel="stylesheet" href="../css/style_standard.css">
<link rel="stylesheet" href="../css/style_login.css?v=2">
</head>
<body class="login-page">
    <main class="container-split">
        <section class="logo-section">
            <img src="../images/logoCoruja.png" alt="BiblioTech Logo" class="logo-img">
        </section>

        <section class="form-section">
            <div class="form-box">
                <img src="../images/Perfil.png" alt="Ícone Usuário" class="icon-user">
                
                <form id="form-login">
                    <div class="input-group">
                        <label>E-mail:</label>
                        <input type="email" id="login-email" required>
                    </div>
                    
                    <div class="input-group">
                        <label>Senha:</label>
                        <input type="password" id="login-senha" required>
                    </div>
                    
                    <button type="submit" class="btn-primary">Entrar</button>
                </form>
                
                <a href="cadastro.html" class="link-rodape">Não possui cadastro? Cadastre-se aqui</a>
            </div>
        </section>
    </main>

    <script src="../js/login.js"></script>
</body>
</html>